html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  display: block;
}
#playButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url("./pause.png");
  background-size: cover;
}

#playButton.pause {
  background-image: url("./play.png");
}
